<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

  <link rel="stylesheet" href="style.css">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />

  <title>Todolist</title>
</head>

<body>
  
  <div id="app" class="container">

    <div class="logo">

      <img src="img-logo/logo.png" alt="logo">
    </div>

    <div class="new-todo">
      <h4 v-if="alertAcrive">Attenzione inserisci un testo</h4>
      <input type="text" placeholder="Nuovo">
      <button>Aggiungi</button>
    </div>

    <div class="todos-container">

      <ul>

        <li
          v-for="todo in todos"
          :class="todo.checked ? 'checked' : null"
          :style="(index === todos.length - 1) ? 'border:none' : null" 
        >
          {{ todo.todo }}

          <i class="fas fa-times"></i>
        </li>

      </ul>
    </div>

  </div>

<script src="js/script.js"></script>
</body>
</html>